@model IEnumerable<Location.Domain.Entities.Country>

@{
    ViewBag.Title = "Countries";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <p>
        <button onclick="location.href='@Url.Action("CreateCountry","Admin")'" class="btn btn-primary">
            <i class="fa fa-plus"></i>  Create New
        </button>
    </p>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Countries</h3>
                </div>
                <div class="box-body">

                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CountryID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CountryName)
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CountryID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CountryName)
                                    </td>
                                    <td>
                                        <button class="btn btn-info" onclick="location.href='@Url.Action("EditCountry","Admin", new { id = item.CountryID })'">
                                            <i class="fa fa-pencil"></i>
                                        </button>

                                        <button class="btn btn-warning btn_delete " data-id="@item.CountryID" data-toggle="modal" data-target="#modal-default">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal-default">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Country?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>

                @Html.Hidden("CountryID", "", new { @class = "hiddenid" })
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" onclick="Delete()" />
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts{
    <script>
        $(function () {
            $('#example1').DataTable()
        })


          $(document).on("click", ".btn_delete", function () {
            var passedID = $(this).data('id');
            $(".modal-footer .hiddenid").val(passedID);
        });
         function Delete() {
            var sub_category_id = $("#CountryID").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteCountry","Admin")',
                data: JSON.stringify({ id: sub_category_id}) ,

                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    console.log(result);
                    //$(".row_" + sub_category_id).remove();
                    window.location.reload();
                    $('#modal-default').modal('hide');
                }

            })
        }
    </script>
}