@model Location.Domain.Entities.CarModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Add User</h3>
    </div>

    <div class="box-body">
        <div class="col-md-9">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Active)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Active)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.CarModelID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        <div class="box-footer">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>

@section scripts{}

