@model Location.Domain.Entities.Claims

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="login-box-body">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Claim Detail</h3>
        </div>

        <div class="box-body">
            <div class="col-md-9">

                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ClaimDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClaimDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TypeClaim)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TypeClaim)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Phone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.User.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserN)
                    </dd>

                </dl>
            </div>

        </div>
        <div class="box-footer">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>

</div>
@section scripts{}
