@model IEnumerable<Location.Domain.Entities.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<section class="content">
    <p>
        <button onclick="location.href='@Url.Action("Create","Car")'" class="btn btn-primary">
            <i class="fa fa-plus"></i>  Create New
        </button>
    </p>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Cars</h3>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Logo
                                </th>
                                <th>Model</th>
                                <th>
                                    Year
                                </th>
                                <th>
                                    Descripton
                                </th>

                                <th>
                                    SubCategory
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PricePerDay)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PricePerMonth)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.seatNumber)
                                </th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    <img src="~/Uploads/@Html.DisplayFor(modelItem => item.TypeCar.Picture)"
                                         class="thumbnail"
                                         style=" width:48px;height:48px" />
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CarModel.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CreationYear.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Note)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.SubCategory.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PricePerDay)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PricePerMonth)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.seatNumber)
                                </td>


                                <td>
                                    <button class="btn btn-info" onclick="location.href='@Url.Action("EditCar","Car", new { id = item.CarID })'">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button class="btn btn-danger btn_delete " data-id="@item.CarID" data-toggle="modal" data-target="#modal-default">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    @{
                                        if (item.Active)
                                        {
                                            <button class="btn btn-warning btn_ban " data-id="@item.CarID" data-toggle="modal" data-target="#modal-ban">
                                                <i class="fa fa-ban"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-success btn_act " data-id="@item.CarID" data-toggle="modal" data-target="#modal-act">
                                                <i class="fa fa-check"></i>
                                            </button>
                                        }
                                    }

                                </td>
                            </tr>
                            }
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal-ban">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Ban Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to Ban this Car?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>

                @Html.Hidden("CarID", "", new { @class = "hiddenid" })
                <div class="form-actions no-color">
                    <input type="submit" value="Ban" class="btn btn-default" onclick="Ban()" />
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-act">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Ban Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to Activate this Car?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>

                @Html.Hidden("CarID", "", new { @class = "hiddenid" })
                <div class="form-actions no-color">
                    <input type="submit" value="Activate" class="btn btn-success" onclick="act()" />
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-default">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Year of creation?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>

                @Html.Hidden("CarID", "", new { @class = "hiddenid" })
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" onclick="Delete()" />
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>




@section scripts{
<script>
        $(function () {
            $('#example1').DataTable()
        })


         $(document).on("click", ".btn_delete", function () {
            var passedID = $(this).data('id');
            $(".modal-footer .hiddenid").val(passedID);
        });
         function Delete() {
            var car_id = $("#CarID").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete","Car")',
                data: JSON.stringify({ id: car_id}) ,

                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    console.log(result);
                    //$(".row_" + sub_category_id).remove();
                    window.location.reload();
                    $('#modal-default').modal('hide');
                }

            })
         }


       $(document).on("click", ".btn_ban", function () {
        var passedID = $(this).data('id');
        $(".modal-footer .hiddenid").val(passedID);
    });
    function Ban() {
        var car_id = $("#CarID").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("BanCar", "Car")',
                data: JSON.stringify({ id: car_id}) ,

                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    console.log(result);
                    //$(".row_" + sub_category_id).remove();
                    window.location.reload();
                    $('#modal-ban').modal('hide');
                }

            })
    }



           $(document).on("click", ".btn_act", function () {
        var passedID = $(this).data('id');
        $(".modal-footer .hiddenid").val(passedID);
    });
    function act() {
        var car_id = $("#CarID").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ActivateCar", "Car")',
                data: JSON.stringify({ id: car_id}) ,

                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    console.log(result);
                    //$(".row_" + sub_category_id).remove();
                    window.location.reload();
                    $('#modal-act').modal('hide');
                }

            })
     }
</script>
    }
